<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastJSON" version="2.4.0.4" targetFramework="net40" />
  <package id="Google.Protobuf" version="3.24.4" targetFramework="net48" />
  <package id="MessagePack" version="2.5.129" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.5.129" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.6.3" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.22.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="Nito.Collections.Deque" version="1.1.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net40" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>